<div>
    <h1>{{title}}</h1>
    <div>
        <h2>Add Loan: </h2>
        <label>balance due:
        <input type="number" [(ngModel)]="loan.balance" placeholder="ex: 50000"/>
    </label>
        <br><br>

        <label>interest rate:
        <input type="number" [(ngModel)]="loan.rate" placeholder="ex: 10"/>
    </label>
        <br><br>

        <label>period of loan (months):
        <input type="number" [(ngModel)]="loan.monthLeft" placeholder="ex: 36"/>
    </label>
        <br><br>

        <div id="center">
            <section>
                <div><span>balance: </span>{{loan.balance | currency}}</div>
                <div><span> rate: </span>{{loan.rate}}</div>
                <div><span> period: </span>{{loan.monthLeft}}</div>
            </section>
            <br />
            <button type="button" (click)="addLoan()">Add Loan</button>
        </div>
    </div>
    <div *ngIf="loans">
        <div>
            <h2>Loan Cashflows</h2>
            <div *ngFor="let loan of loanIds">
                <div class="loan">
                    <h3>Loan: {{loan.id}} <br /> Balance: {{loan.balance | currency}} <br />Period: {{loan.monthLeft}} <br />Rate: {{loan.rate}}%</h3>
                    <div *ngFor="let loanplan of loans">
                        <li *ngIf="loanplan.loanId === loan.id">
                            <p>Month: {{loanplan.month}}, Interest Payment: {{loanplan.interestPayment | currency}}, Principal Payment: {{loanplan.principalPayment | currency}}, <br/>Balance Remaining: {{loanplan.remainingBalance | currency}}</p>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />

        <div>
            <h2>Aggregate Cashflow</h2>
            <div *ngFor="let entry of aggLoanPlanner" class="loan">
                <h3>Month {{entry.month}}: </h3>
                Interest Payment: {{entry.interestPayment | currency}}, Principal Payment: {{entry.principalPayment | currency}}, Remaining Balance: {{entry.remainingBalance | currency}}
            </div>
        </div>
    </div>
</div>