<div *ngIf="loans">
    <br /><br /><br />
    <div *ngFor="let loan of loanIds" id="loan">
        <h3>Loan {{loan.id}}: Balance: {{loan.balance}} Period: {{loan.monthLeft}} Rate: {{loan.rate}}%</h3>
        <div *ngFor="let loanplan of loans">
            <li *ngIf="loanplan.loanId === loan.id">
                <p>month: {{loanplan.month}} interest: {{loanplan.interestPayment}} principal: {{loanplan.principalPayment}} balanceRemaining: {{loanplan.remainingBalance}}</p>
            </li>
        </div>
    </div>

    <app-display-aggregate-cash-flow></app-display-aggregate-cash-flow>
</div>

<!--
<li *ngFor="let loan of loanIds" id="loan">
    <h1>Loan {{loan.id}}: Balance: {{loan.balance}} Period: {{loan.monthLeft}} Rate: {{loan.rate}}%</h1>
    
    <p>month: {{loan.month}} interest: {{loan.interestPayment}} principal: {{loan.principalPayment}} balanceRemaining: {{loan.remainingBalance}}</p>
    <li *ngFor="let loanplan of loans">
        <li *ngIf="loanplan.loanId == loan.id">
            <p>month: {{loanplan.month}} interest: {{loanplan.interestPayment}} principal: {{loanplan.principalPayment}} balanceRemaining: {{loanplan.remainingBalance}}</p>
        </li>
    </li>
</li>-->